html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font: 16px 'Roboto';
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 1rem;
  user-select: none;
}

.panel__button {
  background-color: #eee;
  outline: none;
  font: inherit;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  margin: 2rem 1rem;
}

.panel__button:active {
  background-color: #ccc;
}

.canvas__backdrop {
  background-color: #333;
}

.panel__input-container {
  display: inline-block;
  margin: 2rem 1rem;
}

.panel__checkbox-label--readable {
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  border: 1px solid #eee;
  border-radius: 0.1rem;
  background-color: #eee;
  content: "\00a0";
  display: inline-block;
  height: 1rem;
  margin-right: 0.5rem;
  padding: 0;
  vertical-align: top;
  width: 1rem;
}

input[type="checkbox"]:checked + label:before {
  background-color: #eee;
  color: #333;
  content: "\2714";
  text-align: center;
}

.panel__text-input {
  border: 1px solid #eee;
  border-radius: 0.1rem;
  background-color: #eee;
  padding: 0.25rem;
  margin-left: 0.5rem;
  outline: none;
  font: 1rem 'Roboto';
}

#custom-collision-color {
  width: 7rem;
}
